body{
    background-color:  #9a8c98 !important;
}

#intro{
    margin-top: 50px;
    margin-bottom: 50px;  
    margin-left: 10px; 
}
#form{
   max-width: 50%;
   margin-left: 20px;
}
#questions{
    margin-top: 20px;
    margin-left: 15px;
    max-width: 50%;
}
